:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  --primary: #1762df;
  --secondary: #9E0600;
  --text-color: #383a42;
  --white: #ffffff;
  --background-light: #f8f8f8;
  --primary-light-bg: rgba(33, 79, 241, 0.05);
  --dark-background: #191c22;
  --dark-box-background: #23272f;
  --dark-container-background: #16181d;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--background-light);
  width: 100%;
  transition: background 0.3s ease;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
h4 {
  font-size: 18px;
  font-weight: bold;
}
p {
  font-size: 18px;
  font-weight: normal;
}

.input-box,
.search-box {
  background: var(--white);
  color: var(--text-color);
}

/* CSS for darkmode*/
body.dark-mode {
  background: var(--dark-background);
  color: var(--white);
}
/* Dark background for navbar*/
body.dark-mode a{
  color: var(--white);
}
body.dark-mode a:hover{
  padding: 6px 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
}
body.dark-mode a.active{
  color: var(--primary);
}
/* Dark background for Home, About page*/
body.dark-mode .home-container {
  background: var(--dark-background);
}
/* Dark background for box inside the page */
body.dark-mode .balance-container,
body.dark-mode .nav-container,
body.dark-mode .list-container,
body.dark-mode .edit-form {
  background: var(--dark-box-background);
}
/* Dark background for input at the Inputform, Edit Components och search bar at the Home page and*/
body.dark-mode .input-box,
body.dark-mode .search-box {
  background: var(--dark-box-background);
  color: var(--white);
}
button {
  cursor: pointer;
}
.home-container {
  margin: auto;
  width: 50%;
  background: var(--background-light);
  padding: 20px 100px;
  height: 100vh;
}
.about {
  margin: auto;
  width: 50%;
  padding: 50px 20px;
  height: 100vh;
}
.edit-container {
  margin: auto;
  width: 50%;
}
/* Tablet */
@media screen and (max-width: 768px) {
  .home-container {
    width: 80%;
    padding: 20px 20px;
  }
  .about {
    width: 80%;
    padding: 20px 20px;
  }
  .edit-container {
    width: 80%;
    padding: 20px 20px;
  }
}

/* Mobile */
@media screen and (max-width: 360px) {
  .home-container {
    width: 90%;
    padding: 10px 10px;
  }
  .about {
    width: 100%;
    padding: 10px 10px;
  }
  .edit-container {
    width: 100%;
    padding: 10px 10px;
  }
}
